header, footer {
    background-color: #FFCA3A;
    text-align: center;
}

footer::after {
    content: "\2665";
    color: red;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

p {
    text-align: justify;
}

h2, form {
    text-align: left;
}

ul {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

li {
    width: 33.33%;
    box-sizing: border-box;
    list-style: none;
    padding: 10px;
}

button {
    background-color: #00FFCA;
    border: none;
    border-radius: 5px;
}